Package: com.creaturecoding.fastdel
Name: FastDel
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: This tweak disables the annoying delete word function and enables rapid character deletion instantly.
Maintainer: CreatureSurvive
Author: CreatureSurvive
Section: Tweaks
