Package: com.creaturecoding.fastdel
Name: FastDel
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: This tweak disables the annoying delete word function and enables rapid character deletion instantly.
Maintainer: CreatureSurvive
depiction: https://creaturesurvive.com/depictions/com.creaturecoding.fastdel/index.html
Author: CreatureSurvive
Section: Tweaks
