Package: com.creaturecoding.fastdel
Name: FastDel
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: disable the annoying delete word function and enables rapid character deletion instantly.
Maintainer: CreatureSurvive <dbuehre@me.com>
Depiction: https://creaturesurvive.github.io/depictions/com.creaturecoding.fastdel/index.html
Author: CreatureSurvive <dbuehre@me.com>
Section: Tweaks
Version: 0.3
Installed-Size: 440
